
.menu.callout-menu.mod-no-icon .menu-item[data-section="collapse"] .menu-item-icon:first-child,
.menu.callout-menu.mod-no-icon .menu-item[data-section="clear"] .menu-item-icon:first-child {
    display: flex;
}

.menu.callout-menu .menu-item[data-callout-color] {
    --menu-item-hover-bg: var(--callout-bg-color);
}

.menu.callout-menu .menu-item[data-callout-color]:hover,
.menu.callout-menu .menu-item[data-callout-color].selected {
    background-color: var(--callout-bg-color) !important;
}

.menu.callout-menu div[data-callout-color]:hover,
.menu.callout-menu div[data-callout-color].selected {
    background-color: var(--callout-bg-color) !important;
}

    
.callout[data-callout-metadata*="no-icon"] .callout-icon {
    display: none;
}

.callout[data-callout-metadata*="no-title"] .callout-title {
    display: none;
}

.callout[data-callout-metadata*="no-border"] {
    border: none;
}

